.heading {
    font-family: $second_family;
    font-weight: 500;
    line-height: 130%;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    color: currentColor;
}

h1,
.h1 {
    margin-bottom: clamp-calc(20px, 40px) !important;
    font-size: clamp-calc(30px, 46px);
}

strong,
b {
    font-weight: 500;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: clamp-calc(15px, 25px);

    & h2, h3, h4 {
        padding: 0;
        font-weight: 500;
    }

    & h2 {
        font-size: clamp-calc(26px, 34px);
    }

    & h3 {
        font-size: clamp-calc(22px, 30px);
    }

    & h4 {
        font-size: clamp-calc(20px, 26px);
    }

    & p,
    & ul,
    & ol,
    & h2,
    & h3,
    & h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    & a {
        color: currentColor;

        &:hover {
            @include tablet-from {
                text-decoration: none;
            }
        }
    }

    & li {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}