.container {
	width: 100%;
	max-width: 1920px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 clamp-calc(15px, 80px);

	&._p0 {
		padding: 0;
	}

	&._pt0 {
		padding-top: 0;
	}

	&._pb0 {
		padding-bottom: 0;
	}
}

