$color_white: #fff;
$color_violet: #2c2e61;
$color_bg: #e6ecf7;
$color_blue: #000d85;
$color_dark_blue: #1b1d3f;
$color_light_blue: #38a6ef;
$color_border: #93a9d2;
$color_intro: #182f87;
$color_red: #F22411;

$font_family: "Onest", sans-serif;
$second_family: "Oswald", sans-serif;

$transition: .5s ease-in-out;