.intro {
    background: $color_intro;
    position: relative;
    padding: calc(clamp-calc(30px, 40px) + 24px + clamp-calc(30px, 60px)) 0 0;
    color: $color_white;
    border-radius: 0 0 clamp-calc(40px, 80px) clamp-calc(40px, 80px);
    overflow: hidden;

    &__container {
        display: grid;
        grid-template-columns: .78fr 1fr;
        gap: clamp-calc(30px, 150px);
        position: relative;
        z-index: 2;

        @include desktop-small {
            grid-template-columns: 1fr;
            gap: clamp-calc(30px, 60px);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: clamp-calc(1px, 30px);

        @include desktop-medium {
            padding-top: 0;
        }

        @include desktop-small {
            width: 100%;

            &:not(._left) {
                align-items: center;
                text-align: center;
            }
        }
    }

    &__note {
        display: flex;
        align-items: center;
        gap: clamp-calc(15px, 25px);
        font-size: clamp-calc(16px, 20px);
        margin: 0 0 clamp-calc(20px, 40px);
        font-weight: 500;

        @include desktop-small {
            text-align: center;
            justify-content: center;
        }

        @include mobile {
            flex-direction: column;
        }
    }

    &__circle {
        min-width: 50px;
        max-width: 50px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background: $color_blue;
        color: currentColor;
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
            width: 36%;
            height: auto;
        }
    }

    &__title {
        font-size: clamp-calc(35px, 70px);
        margin-bottom: clamp-calc(20px, 40px) !important;

        &._small {
            font-size: clamp-calc(30px, 46px);
            margin-bottom: clamp-calc(15px, 30px) !important;
        }

        & span {
            position: relative;

            &::after {
                content: '';
                height: 3px;
                width: 100%;
                background: currentColor;
                display: block;
                position: absolute;
                bottom: 3%;
                left: 0;
            }
        }
    }

    &__text {
        line-height: 130%;

        @media (max-width: 1600px) {
            padding-bottom: 60px;
        }

        @include desktop-small {
            padding-bottom: 0
        }

        & p {
            margin: 0 0 clamp-calc(15px, 20px);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__subtitle {
        font-size: clamp-calc(20px, 16px);
        margin: 0 0 clamp-calc(20px, 40px);
        width: 100%;
        max-width: 600px;
        line-height: 130%;

        @include mobile {
            padding: 0 8px;
        }
    }

    &__img {
        display: flex;
        align-items: flex-end;

        @include desktop-small {
            justify-content: center;
        }

        & img {
            width: 100%;
            height: auto;

            @include desktop-small {
                max-width: 600px;
            }
        }
    }

    &__pattern {
        width: 23%;
        height: auto;
        position: absolute;
        left: 28%;
        top: 15%;
        z-index: 1;
        color: #1E379A;

        @include desktop-small {
            display: none;
        }
    }

    &__circle-left {
        position: absolute;
        z-index: 1;
        width: 50%;
        height: auto;
        left: 0%;
        top: -10%;
    }

    &__circle-bottom {
        position: absolute;
        z-index: 1;
        width: 33%;
        height: auto;
        left: 25%;
        bottom: -10%;
    }

    &__circle-right {
        position: absolute;
        z-index: 1;
        width: 33%;
        height: auto;
        right: -10%;
        top: -10%;
    }

    & .breadcrumbs__list {
        margin-bottom: clamp-calc(20px, 30px);
    }
}