section.section._white._radius
    .container
        h2.section__title.heading Зачем компаниям и брендам нужна наружная реклама?

        .for-whats__items
            +for-what('Привлечение внимания клиентов. Наружная реклама помогает привлечь внимание потенциальных клиентов и заинтересовать их вашим продуктом или услугой.')
            +for-what('Увеличение узнаваемости бренда. Размещение рекламы на улице помогает увеличить узнаваемость вашего бренда среди широкой аудитории.')
            +for-what('Увеличение продаж. Хорошо разработанная наружная реклама может стимулировать покупательское поведение и помочь увеличить продажи.')
            +for-what('Привлечение целевой аудитории. Выбор мест размещения наружной рекламы позволяет привлекать целевую аудиторию, которая наиболее вероятно заинтересована в вашем продукте или услуге.')
            
            article.for-whats__blockquote.blockquote
                p.blockquote__text «Мы стремимся к постоянному развитию и совершенствованию, предлагая эффективные рекламные конструкции и комплексные решения для достижения максимального результата».
                .blockquote__author
                    +picture('blockquote__picture picture', 'blockquote-author', 'jpg', 130, 130, '#')
                    .blockquote__author-content
                        h3.blockquote__title.heading Имя фамилия
                        p.blockquote__position.heading Должность

            +for-what('Повышение авторитета и профессионализма. Качественная наружная реклама может повысить уровень доверия к вашему бренду, подчеркнуть')