.reviews__categories.scrollbar-hidden
    a.reviews__category.btn._white(href="#") Все отзывы
        span 4.9

    a.reviews__category.btn._bordered(href="https://yandex.ru/maps/org/revolyutsiya_reklamy/" target="_blank" rel="nofollow")
        img.reviews__category-icon.lazy(data-src="@img/yandex-map.svg" width="28" height="35" alt="#")
        | Яндекс Карты
        span 4.9

    a.reviews__category.btn._bordered(href="https://go.2gis.com/sjarx" target="_blank" rel="nofollow")
        img.reviews__category-icon.lazy(data-src="@img/2gis.svg" width="33" height="35" alt="#")
        | 2ГИС
        span 4.9