extends catalog

block meta
    - var seotitle = 'Каталог конструкций (картой)'
    - var seodescription = ''
    - var seokeywords = ''

block catalog_content
    .catalog__map(id="catalog-map" data-center-l="53.32213850559074" data-center-r="50.0613185" data-zoom="9")