extends base

block meta
    - var seotitle = 'Отзывы'
    - var seodescription = ''
    - var seokeywords = ''

block main
    main.main._inner
        .breadcrumbs
            .container
                ul.breadcrumbs__list.list-reset
                    li
                        a(href="#") Главная
                    li Отзывы

        section.section._pt0
            .container
                h1.heading Отзывы

                .reviews-page.gap
                    .reviews__controls
                        include pug/layout/_reviews-categories

                    .reviews-page__items.gap
                        article.review
                            time.review__date.heading(datetime="2024-02-20") 20.02.24
                            h3.review__title.heading Концертное агентство «Культурный план»
                            .review__text-wrap
                                .review__text
                                    p Концертное агентство «Культурный план» выражает признательность Рекламному агентству «Революция Рекламы» за многолетнее и плодотворное сотрудничество.
                                    p РА «Революция Рекламы» зарекомендовало себя на рынке наружной рекламы как надежный партнер.
                                    p Команда РА «Революция Рекламы» является профессиональным, компетентным и ответственным коллективом.
                                button.btn-reset.review__more(type="button" data-src="#review-1" data-fancybox) Читать дальше
                                .popup(id="review-1")
                                    .popup__content.review__full
                                        button.btn-reset.popup__close(type="button" data-fancybox-close)
                                            +sprite('', 18, 18, 'close')
                                        p Концертное агентство «Культурный план» выражает признательность Рекламному агентству «Революция Рекламы» за многолетнее и плодотворное сотрудничество.
                                        p РА «Революция Рекламы» зарекомендовало себя на рынке наружной рекламы как надежный партнер.
                                        p Команда РА «Революция Рекламы» является профессиональным, компетентным и ответственным коллективом.
                                        p Концертное агентство «Культурный план» выражает признательность Рекламному агентству «Революция Рекламы» за многолетнее и плодотворное сотрудничество.
                                        p РА «Революция Рекламы» зарекомендовало себя на рынке наружной рекламы как надежный партнер.
                                        p Команда РА «Революция Рекламы» является профессиональным, компетентным и ответственным коллективом.
                            a.btn-reset.btn._dark-blue(href="@img/review-popup.svg" data-fancybox) Оригинал отзыва

                        article.review
                            time.review__date.heading(datetime="2024-02-20") 20.02.24
                            h3.review__title.heading Самарская филармония
                            .review__text-wrap
                                .review__text
                                    p ООО "Революция Рекламы" имеет самое представительное количество рекламных щитов по городу. Все лучшие остановки принадлежат компании. Именно потому филармония очень давно сотрудничает с Революцией Рекламы. У нас сложились теплые человеческие отношения и с менеджером, который нас ведёт – Ларисой Черниковой. Она всегда готова пойти нам на встречу и понять всю сложность документооборота бюджетного учреждения. Потому от сотрудничества с ООО "Революцией Рекламы" у нас сложились самые благоприятные впечатления.
                                button.btn-reset.review__more(type="button" data-src="#review-2" data-fancybox) Читать дальше
                                .popup(id="review-2")
                                    .popup__content.review__full
                                        button.btn-reset.popup__close(type="button" data-fancybox-close)
                                            +sprite('', 18, 18, 'close')
                                        p ООО "Революция Рекламы" имеет самое представительное количество рекламных щитов по городу. Все лучшие остановки принадлежат компании. Именно потому филармония очень давно сотрудничает с Революцией Рекламы. У нас сложились теплые человеческие отношения и с менеджером, который нас ведёт – Ларисой Черниковой. Она всегда готова пойти нам на встречу и понять всю сложность документооборота бюджетного учреждения. Потому от сотрудничества с ООО "Революцией Рекламы" у нас сложились самые благоприятные впечатления.
                                        p ООО "Революция Рекламы" имеет самое представительное количество рекламных щитов по городу. Все лучшие остановки принадлежат компании. Именно потому филармония очень давно сотрудничает с Революцией Рекламы. У нас сложились теплые человеческие отношения и с менеджером, который нас ведёт – Ларисой Черниковой. Она всегда готова пойти нам на встречу и понять всю сложность документооборота бюджетного учреждения. Потому от сотрудничества с ООО "Революцией Рекламы" у нас сложились самые благоприятные впечатления.

                            a.btn-reset.btn._dark-blue(href="https://yandex.ru/maps/org/revolyutsiya_reklamy/" target="_blank" rel="nofollow") Отзыв в Я.Картах

                        article.review
                            time.review__date.heading(datetime="2024-02-20") 20.02.24
                            h3.review__title.heading Самарский академический театр оперы и балета им. Д.Д. Шостаковича
                            .review__text-wrap
                                .review__text
                                    p Ваша работа внесла значительный вклад в продвижение наших спектаклей и мероприятий, а также помогла привлечь внимание новой аудитории к искусству оперы и балета. Вы помогаете нам делать искусство доступным для всех жителей города.
                                    p Спасибо за ваш профессионализм, творческий подход и эффективное взаимодействие. Мы рады сотрудничеству с вами.
                                button.btn-reset.review__more(type="button" data-src="#review-3" data-fancybox) Читать дальше
                                .popup(id="review-3")
                                    .popup__content.review__full
                                        button.btn-reset.popup__close(type="button" data-fancybox-close)
                                            +sprite('', 18, 18, 'close')
                                        p Ваша работа внесла значительный вклад в продвижение наших спектаклей и мероприятий, а также помогла привлечь внимание новой аудитории к искусству оперы и балета. Вы помогаете нам делать искусство доступным для всех жителей города.
                                        p Спасибо за ваш профессионализм, творческий подход и эффективное взаимодействие. Мы рады сотрудничеству с вами.
                                        p Ваша работа внесла значительный вклад в продвижение наших спектаклей и мероприятий, а также помогла привлечь внимание новой аудитории к искусству оперы и балета. Вы помогаете нам делать искусство доступным для всех жителей города.
                                        p Спасибо за ваш профессионализм, творческий подход и эффективное взаимодействие. Мы рады сотрудничеству с вами.
                            a.btn-reset.btn._dark-blue(href="https://go.2gis.com/sjarx" target="_blank" rel="nofollow") Отзыв в 2ГИС

                        article.review
                            time.review__date.heading(datetime="2024-02-20") 20.02.24
                            h3.review__title.heading Концертное агентство «Культурный план»
                            .review__text-wrap
                                .review__text
                                    p Концертное агентство «Культурный план» выражает признательность Рекламному агентству «Революция Рекламы» за многолетнее и плодотворное сотрудничество.
                                    p РА «Революция Рекламы» зарекомендовало себя на рынке наружной рекламы как надежный партнер.
                                    p Команда РА «Революция Рекламы» является профессиональным, компетентным и ответственным коллективом.
                                button.btn-reset.review__more(type="button" data-src="#review-1" data-fancybox) Читать дальше
                                .popup(id="review-1")
                                    .popup__content.review__full
                                        button.btn-reset.popup__close(type="button" data-fancybox-close)
                                            +sprite('', 18, 18, 'close')
                                        p Концертное агентство «Культурный план» выражает признательность Рекламному агентству «Революция Рекламы» за многолетнее и плодотворное сотрудничество.
                                        p РА «Революция Рекламы» зарекомендовало себя на рынке наружной рекламы как надежный партнер.
                                        p Команда РА «Революция Рекламы» является профессиональным, компетентным и ответственным коллективом.
                                        p Концертное агентство «Культурный план» выражает признательность Рекламному агентству «Революция Рекламы» за многолетнее и плодотворное сотрудничество.
                                        p РА «Революция Рекламы» зарекомендовало себя на рынке наружной рекламы как надежный партнер.
                                        p Команда РА «Революция Рекламы» является профессиональным, компетентным и ответственным коллективом.
                            a.btn-reset.btn._dark-blue(href="@img/review-popup.svg" data-fancybox) Оригинал отзыва

                        article.review
                            time.review__date.heading(datetime="2024-02-20") 20.02.24
                            h3.review__title.heading Самарская филармония
                            .review__text-wrap
                                .review__text
                                    p ООО "Революция Рекламы" имеет самое представительное количество рекламных щитов по городу. Все лучшие остановки принадлежат компании. Именно потому филармония очень давно сотрудничает с Революцией Рекламы. У нас сложились теплые человеческие отношения и с менеджером, который нас ведёт – Ларисой Черниковой. Она всегда готова пойти нам на встречу и понять всю сложность документооборота бюджетного учреждения. Потому от сотрудничества с ООО "Революцией Рекламы" у нас сложились самые благоприятные впечатления.
                                button.btn-reset.review__more(type="button" data-src="#review-2" data-fancybox) Читать дальше
                                .popup(id="review-2")
                                    .popup__content.review__full
                                        button.btn-reset.popup__close(type="button" data-fancybox-close)
                                            +sprite('', 18, 18, 'close')
                                        p ООО "Революция Рекламы" имеет самое представительное количество рекламных щитов по городу. Все лучшие остановки принадлежат компании. Именно потому филармония очень давно сотрудничает с Революцией Рекламы. У нас сложились теплые человеческие отношения и с менеджером, который нас ведёт – Ларисой Черниковой. Она всегда готова пойти нам на встречу и понять всю сложность документооборота бюджетного учреждения. Потому от сотрудничества с ООО "Революцией Рекламы" у нас сложились самые благоприятные впечатления.
                                        p ООО "Революция Рекламы" имеет самое представительное количество рекламных щитов по городу. Все лучшие остановки принадлежат компании. Именно потому филармония очень давно сотрудничает с Революцией Рекламы. У нас сложились теплые человеческие отношения и с менеджером, который нас ведёт – Ларисой Черниковой. Она всегда готова пойти нам на встречу и понять всю сложность документооборота бюджетного учреждения. Потому от сотрудничества с ООО "Революцией Рекламы" у нас сложились самые благоприятные впечатления.

                            a.btn-reset.btn._dark-blue(href="https://yandex.ru/maps/org/revolyutsiya_reklamy/" target="_blank" rel="nofollow") Отзыв в Я.Картах

                        article.review
                            time.review__date.heading(datetime="2024-02-20") 20.02.24
                            h3.review__title.heading Самарский академический театр оперы и балета им. Д.Д. Шостаковича
                            .review__text-wrap
                                .review__text
                                    p Ваша работа внесла значительный вклад в продвижение наших спектаклей и мероприятий, а также помогла привлечь внимание новой аудитории к искусству оперы и балета. Вы помогаете нам делать искусство доступным для всех жителей города.
                                    p Спасибо за ваш профессионализм, творческий подход и эффективное взаимодействие. Мы рады сотрудничеству с вами.
                                button.btn-reset.review__more(type="button" data-src="#review-3" data-fancybox) Читать дальше
                                .popup(id="review-3")
                                    .popup__content.review__full
                                        button.btn-reset.popup__close(type="button" data-fancybox-close)
                                            +sprite('', 18, 18, 'close')
                                        p Ваша работа внесла значительный вклад в продвижение наших спектаклей и мероприятий, а также помогла привлечь внимание новой аудитории к искусству оперы и балета. Вы помогаете нам делать искусство доступным для всех жителей города.
                                        p Спасибо за ваш профессионализм, творческий подход и эффективное взаимодействие. Мы рады сотрудничеству с вами.
                                        p Ваша работа внесла значительный вклад в продвижение наших спектаклей и мероприятий, а также помогла привлечь внимание новой аудитории к искусству оперы и балета. Вы помогаете нам делать искусство доступным для всех жителей города.
                                        p Спасибо за ваш профессионализм, творческий подход и эффективное взаимодействие. Мы рады сотрудничеству с вами.
                            a.btn-reset.btn._dark-blue(href="https://go.2gis.com/sjarx" target="_blank" rel="nofollow") Отзыв в 2ГИС
                    